<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="./lib/vue.min.js"></script>

<body>
    <div id="app">
        <input type="text" name="" id="" v-model="t1">
        <select v-model="option">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" name="" id="" v-model="t2">
        <input type="button" value="=" @click="enter()">      {{result}}

    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            t1: 0,
            t2: 0,
            result: 0,
            option: '+'
        },
        methods: {
            enter() {
                // switch (this.option) {
                //     case ("+"):
                //         this.result = parseInt(this.t1) + parseInt(this.t2)
                //         break;
                //     case ("-"):
                //         this.result = parseInt(this.t1) - parseInt(this.t2)
                //         break;
                //     case ("*"):
                //         this.result = parseInt(this.t1) * parseInt(this.t2)
                //         break;
                //     case ("/"):
                //         this.result = parseInt(this.t1) / parseInt(this.t2)
                //         break;
                // }
                var str =  "parseInt(this.t1)" + this.option + "parseInt(this.t2)"
                    this.result = eval(str)

            }
        }
    })
</script>

</html>